<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Table>
  <armaPath>C:\Program Files (x86)\Steam\steamapps\common\Arma 3\</armaPath>


<blacklist>

a3
3den_language
air_f_epb
air_f_gamma
air_f_epc
anims_f
anims_f_bootcamp
anims_f_epc
anims_f_epa
anims_f_mod
armor_f
anims_f_exp_a
armor_f_epb
armor_f_decade
baseconfig_f
armor_f_epc
boat_f_epc
boat_f_beta
boat_f
boat_f_gamma
cargoposes_f
characters_f_decade
characters_f_beta
characters_f_epa
characters_f_epc
characters_f_epb
characters_f_gamma
data_f_bootcamp
data_f_decade
data_f_exp_a
data_f_exp_b
data_f_mod
data_f_warlords
drones_f
dubbing_f
dubbing_f_beta
dubbing_f_bootcamp
dubbing_f_epc
dubbing_f_epa
dubbing_f_epb
dubbing_f_warlords
dubbing_f_gamma
editorpreviews_f
editorpreviews_f_decade
dubbing_radio_f
dubbing_radio_f_data_vr
dubbing_radio_f_data_per
languagemissions_f
languagemissions_f_beta
languagemissions_f_bootcamp
languagemissions_f_epa
languagemissions_f_epb
languagemissions_f_exp_a
languagemissions_f_gamma
languagemissions_f_epc
language_f_bootcamp
language_f
language_f_beta
language_f_epa
language_f_epb
language_f_decade
language_f_exp_a
language_f_epc
language_f_exp_b
language_f_mod
language_f_gamma
language_f_warlords
map_altis_data
map_altis
map_altis_data_layers
map_altis_data_layers_01_00
map_altis_data_layers_00_01
map_altis_data_layers_00_00
map_altis_data_layers_01_01
map_stratis
map_stratis_data
map_stratis_data_layers
map_vr
misc_f
missions_f_beta_data
missions_f_beta_video
missions_f_bootcamp_data
missions_f_bootcamp_video
missions_f_epa_data
missions_f_epb
missions_f_exp_a_data
missions_f_epc
missions_f_gamma_video
missions_f_gamma_data
missions_f_video
modules_f_beta_data
modules_f_exp_a
modules_f_data
music_f_bootcamp
music_f
modules_f_warlords
music_f_bootcamp_music
music_f_epa
music_f_epa_music
music_f_epb_music
music_f_epb
music_f_epc
music_f_music
music_f_epc_music
signs_f
soft_f_epc
sounds_f_bootcamp
sounds_f_epb
sounds_f_decade
sounds_f_epc
sounds_f_exp_a
sounds_f_mod
static_f
sounds_f_sfx
static_f_beta
static_f_gamma

</blacklist>

</Table>